<div class="flex items-center space-x-3 text-lg font-semibold pl-5 tracking-tigh pr-4">
	<button
		routerLink="/Login"
		routerLinkActive="active"
		ariaCurrentWhenActive="page"
		class="px-6 py-2 text-black transition duration-300 ease-out bg-white border border-black rounded-lg hover:bg-black hover:border hover:text-white dark:border-black dark:bg-inherit dark:text-black dark:hover:bg-stone-200 dark:hover:text-black"
	>
		Login
	</button>
	<button
		routerLink="/Register"
		routerLinkActive="active"
		ariaCurrentWhenActive="page"
		class="px-6 py-2 text-white transition duration-500 ease-out bg-blue-700 rounded-lg hover:bg-blue-800 hover:ease-in hover:underline"
	>
		Register
	</button>
</div>
